<footer class="page-footer font-small mt-5">			
       
    <div class="secondary-color">
        <div class="container">
           
            <div class="row py-4 d-flex align-items-center">
             
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <a class="mr-4"  href="#">
                        Aide & Information
                    </a>
                    <a class="mr-4"  href="#">
                        A Propos de nous
                    </a>
                    <a class="mr-4"  href="#">
                        Termes
                    </a>
                    <a class=""  href="#">
                        Confidentialité
                    </a>							
                </div>
               
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                  
                    <a class="fb-ic ml-0">
                        <i class="fab fa-facebook white-text mr-4"> </i>
                    </a>
               
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    
                   
                    <a class="li-ic">
                        <i class="fab fa-linkedin white-text mr-4"> </i>
                    </a>
               
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
               
            </div>
     
        </div>
    </div>
    
    <div class="footer-copyright secondary-color-dark text-center py-3">© 2022 Copyright </div>
  
</footer>


