<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-color:antiquewhite ; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="brand text-center text-red"></div>
                    <h2 class="pb-2">Votre panier</h2>
                        <br>

                    

                        <table width="100%">  
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Nom du produit</th>
                                    <th>Quantit&eacute;</th>
                                    
                                    
                                    <td></td>
                                    <td></td>
                                    </tr>
                            </thead>
                            
                            <tbody>

                                    <tr *ngFor="let lp of lignesPaniers">
                                    <td><img src="http://localhost:9090{{lp.produit.img}}" style="height: 50px;  width: 50px;"></td>
                                    <td>{{lp.produit.libProduit}}</td>
                                    <td>{{lp.quantite}}</td>
                                    <td><button (click)="supprimer(lp.idLignePanier)">Supprimer le produit</button></td>
                                    <td><button (click)="modifier(lp.idLignePanier)">Modifier la quantit&eacute;</button></td>
                                    </tr>
                                
                            
                            
                            </tbody>
                            </table>

    


                            <br>  <br>
                            <a href='afficherProduits'><h6>Retour &agrave; nos produits</h6></a>
                            <a href="creerCommande()"><h6>Confirmer mon achat</h6></a>
                    
            

                
            </div>
        </div>
    </div>
</div>
